## Python MongoDB Connection using Pymongo

In [1]:
!pip install pymongo

^C

In [2]:
import pymongo

In [3]:
sample_client=pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [4]:
sdb=sample_client["sample_db"]

In [5]:
scol=sdb['students']

In [6]:
sdoc={'name':'abc','age':23,}
x = scol.insert_one(sdoc)
print(x.inserted_id)

5d8a5b3f9fa1d0e3a587b43b

### Bulk Inserts

In [12]:
sdoc=[{'name':'abc','age':22,'mob':21234},
      {'name':'dec','age':25,'mob':2345},
      {'name':'abc','age':27,'mob':21244},
      {'name':'dec','age':23,'mob':2245}]
x = scol.insert_many(sdoc)
print(x.inserted_ids)

[ObjectId('5d8a63e29fa1d0e3a587b440'), ObjectId('5d8a63e29fa1d0e3a587b441'), ObjectId('5d8a63e29fa1d0e3a587b442'), ObjectId('5d8a63e29fa1d0e3a587b443')]

### Getting a Single Document with find_one()

In [13]:
x = scol.find_one ({'name':'abc'})
print(x)

{'_id': ObjectId('5d8a5b3f9fa1d0e3a587b43b'), 'name': 'abc', 'age': 23}

### Querying for more than one Document

In [14]:
x = scol.find ({'name':'abc'})
j=[]
for i in x:
    print(i)
    j.append(i)

{'_id': ObjectId('5d8a5b3f9fa1d0e3a587b43b'), 'name': 'abc', 'age': 23}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43c'), 'name': 'abc', 'age': 22, 'mob': 21234}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43e'), 'name': 'abc', 'age': 27, 'mob': 21244}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b440'), 'name': 'abc', 'age': 22, 'mob': 21234}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b442'), 'name': 'abc', 'age': 27, 'mob': 21244}

### Create DataFrame

In [15]:
import pandas as pd

In [16]:
pd.DataFrame(j)

                        _id  age      mob name
0  5d8a5b3f9fa1d0e3a587b43b   23      NaN  abc
1  5d8a5b419fa1d0e3a587b43c   22  21234.0  abc
2  5d8a5b419fa1d0e3a587b43e   27  21244.0  abc
3  5d8a63e29fa1d0e3a587b440   22  21234.0  abc
4  5d8a63e29fa1d0e3a587b442   27  21244.0  abc

### Update

In [17]:
old_doc = { "name": "abc" }
new_doc = { "$set": { "name": "zzz" } }
scol.update_one(old_doc, new_doc)
for x in scol.find():
    print(x)

{'_id': ObjectId('5d8a5b3f9fa1d0e3a587b43b'), 'name': 'zzz', 'age': 23}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43c'), 'name': 'abc', 'age': 22, 'mob': 21234}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43d'), 'name': 'dec', 'age': 25, 'mob': 2345}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43e'), 'name': 'abc', 'age': 27, 'mob': 21244}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43f'), 'name': 'dec', 'age': 23, 'mob': 2245}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b440'), 'name': 'abc', 'age': 22, 'mob': 21234}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b441'), 'name': 'dec', 'age': 25, 'mob': 2345}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b442'), 'name': 'abc', 'age': 27, 'mob': 21244}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b443'), 'name': 'dec', 'age': 23, 'mob': 2245}

### update many

In [18]:
old_doc = { "name": "abc" }
new_doc = { "$set": { "age":30 } }
scol.update_many(old_doc, new_doc)
#print(x.modified_count, "documents updated.")
for x in scol.find():
    print(x)

{'_id': ObjectId('5d8a5b3f9fa1d0e3a587b43b'), 'name': 'zzz', 'age': 23}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43c'), 'name': 'abc', 'age': 30, 'mob': 21234}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43d'), 'name': 'dec', 'age': 25, 'mob': 2345}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43e'), 'name': 'abc', 'age': 30, 'mob': 21244}
{'_id': ObjectId('5d8a5b419fa1d0e3a587b43f'), 'name': 'dec', 'age': 23, 'mob': 2245}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b440'), 'name': 'abc', 'age': 30, 'mob': 21234}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b441'), 'name': 'dec', 'age': 25, 'mob': 2345}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b442'), 'name': 'abc', 'age': 30, 'mob': 21244}
{'_id': ObjectId('5d8a63e29fa1d0e3a587b443'), 'name': 'dec', 'age': 23, 'mob': 2245}

### Delete

In [19]:
scol.delete_one ({'name':'abc'})

### DeleteMany

In [20]:
x = scol.delete_many({'name':'abc'})

### Delete all Documents in a collection

In [21]:
 x = scol.delete_many({})

### Delete Collection

In [22]:
scol.drop()

### Delete Database

In [23]:
sample_client.drop_database('sample_db')