# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    mylist=[a,b]
    if a%2==0 and b%2==0:
        return min(mylist)
    else:
        return max(mylist)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(a):
    list1 = a.split(" ")
    if list1[0][0] == list1[1][0]:
        return True
    else:
        return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [8]:
# Check
makes_twenty(10,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [18]:
def old_macdonald(a):
    return a[0].upper()+a[1:3]+a[3].upper()+a[4:]

In [19]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [20]:
def master_yoda(a):
    list1 = a.split(" ")
    list1.reverse()
    return " ".join(list1)

In [21]:
# Check
master_yoda('I am home')

'home am I'

In [22]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [23]:
def almost_there(a):
    if abs(a-100) <= 10 or abs(a-200) <=10:
        return True
    else:
        return False

In [24]:
# Check
almost_there(104)

True

In [25]:
# Check
almost_there(150)

False

In [26]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [139]:
def has_33(k):
    i=0
    while i<len(k):
        if k[i:i+2] == [3,3]:
            return True
        i+=1
    else:
        return False

In [140]:
# Check
has_33([1, 3, 3])

True

In [141]:
# Check
has_33([1, 3, 1, 3])

False

In [142]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [146]:
def paper_doll(a):
    b = list(a)
    my_lis = []
    for i in b:
        my_lis.append((i*3))
    return "".join(my_lis)

In [147]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [148]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [157]:
def blackjack(x,y,z):
    if x+y+z <= 21:
        return x+y+z
    elif x+y+z > 21 and (x== 11 or y==11 or z==11):
        return (x+y+z)-10
    else:
        return 'BUST'

In [158]:
# Check
blackjack(5,6,7)

18

In [159]:
# Check
blackjack(9,9,9)

'BUST'

In [160]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [165]:
def summer_69(arr):
    if 6 in arr:
        a = arr.index(6)
        b = arr.index(9)
        del arr[a:b+1]
        return sum(arr)
    else:
        return sum(arr)
    pass

In [166]:
# Check
summer_69([1, 3, 5])

9

In [167]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [168]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [9]:
def spy_game(arr):
    bo = [0,0,7,"x"]
    for i in arr:
        if bo[0] == i:
            del bo[0]
    if len(bo) == 1:
        return True
    elif len(bo) != 1:
        return False

In [10]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [11]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [12]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [18]:
def count_primes(a):
    count = 0
    for num in range(2,a+1):
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            count+=1
    return count

In [19]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [20]:
def print_big(letter):
    if letter.lower() == 'a':
        print('''        
                          *
                         * *
                        *****
                        *   *
                        *   *''')

In [21]:
print_big('a')

                          *
                         * *
                        *****
                        *   *
                        *   *

## Great Job!