# Python Mysql Connection using mysql-connector

In [22]:
! pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\phnx\anaconda3\lib\site-packages (2.2.9)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 19.2.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host="localhost", user="root")

In [3]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0434C950>

### Create DB

In [4]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE samc")

In [5]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('samc',)
('sample',)
('sampledb',)
('sampledbnew',)
('samw',)
('sdb',)
('sdbnew',)
('test',)

In [6]:
mydb = mysql.connector.connect( host="localhost", user="root", database="samc")

### Create Table

In [7]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE classnew (id int, name char(20),mob int)")

In [8]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('classnew',)

### Insert

In [10]:
mycursor.execute("insert into classnew(id,name) values('101','abc')")

### Select

In [11]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
a=[]
for i in rows:
    a.append(i)
    print(i)

(101, 'abc', None)
(101, 'abc', None)

### Create DataFrame

### Method 1

In [13]:
import pandas as pd

In [32]:
df = pd.DataFrame(a)
df

     0    1     2
0  101  abc  None
1  101  abc  None
2  101  abc  None

### Method 2

In [ ]:
import pandas as pd

In [ ]:
query="select * from classnew"
df1 = pd.read_sql(query, mydb)
df1

### Update

In [67]:
mycursor.execute("update classnew set id=55 where name='abc'")

In [68]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

(55, 'abc', None)

### Delete

In [69]:
mycursor.execute("delete from classnew where id=55")

In [70]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

### Delete Table

In [71]:
mycursor.execute("drop table if exists classnew")

In [74]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

### Delete Database

In [76]:
mycursor.execute("DROP DATABASE SAM")
for x in mycursor:
    print(x)

In [77]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sample',)
('sampledb',)
('sampledbnew',)
('test',)