# Python Mysql Connection using pymysql

In [ ]:
! pip install PyMySQL

In [ ]:
import pymysql

In [ ]:
mydb=pymysql.connect(host="localhost", user="root")

### Create DB

In [60]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE sam")

In [61]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sam',)
('sample',)
('sampledb',)
('sampledbnew',)
('test',)

In [62]:
mydb = mysql.connector.connect( host="localhost", user="root", database="sam")

### Create Table

In [63]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE classnew (id int, name char(20),mob int)")

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

### Insert

In [65]:
mycursor.execute("insert into classnew(id,name) values('101','abc')")

### Select

In [66]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

(101, 'abc', None)

### Create DataFrame

### Method 1

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(a)
df

NameError: name 'a' is not defined

### Method 2

In [4]:
import pandas as pd

In [5]:
query="select * from classnew"
df1 = pd.read_sql(query, mydb)
df1

NameError: name 'mydb' is not defined

### Update

In [67]:
mycursor.execute("update classnew set id=55 where name='abc'")

In [68]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

(55, 'abc', None)

### Delete

In [69]:
mycursor.execute("delete from classnew where id=55")

In [70]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

### Delete Table

In [71]:
mycursor.execute("drop table if exists classnew")

In [74]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

### Delete Database

In [76]:
mycursor.execute("DROP DATABASE SAM")
for x in mycursor:
    print(x)

In [77]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sample',)
('sampledb',)
('sampledbnew',)
('test',)