# Python Mysql Connection using pymysql

In [1]:
! pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.9.3

In [46]:
import pymysql
import mysql.connector

In [47]:
mydb=pymysql.connect(host="localhost", user="root")

### Create DB

In [48]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE sam")

1

In [49]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sam',)
('test',)

In [50]:
mydb = mysql.connector.connect( host="localhost", user="root", database="sam")

### Create Table

In [51]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE classnew (id int, name char(20),mob int)")

In [52]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('classnew',)

### Insert

In [53]:
mycursor.execute("insert into classnew(id,name) values('101','abc')")

### Select

In [55]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
a=  []
for i in rows:
    print(i)
    a.append(i)

(101, 'abc', None)

### Create DataFrame

### Method 1

In [56]:
import pandas as pd

In [57]:
df = pd.DataFrame(a)
df

     0    1     2
0  101  abc  None

### Method 2

In [58]:
import pandas as pd

In [59]:
query="select * from classnew"
df1 = pd.read_sql(query, mydb)
df1

    id name   mob
0  101  abc  None

### Update

In [38]:
mycursor.execute("update classnew set id=55 where name='abc'")

In [39]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

(55, 'abc', None)

### Delete

In [40]:
mycursor.execute("delete from classnew where id=55")

In [41]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

### Delete Table

In [42]:
mycursor.execute("drop table if exists classnew")

In [43]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

### Delete Database

In [44]:
mycursor.execute("DROP DATABASE SAM")
for x in mycursor:
    print(x)

In [45]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)