# Python Mysql Connection using mysql-connector

In [1]:
! pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Stored in directory: C:\Users\DANIELDANI\AppData\Local\pip\Cache\wheels\8c\83\a1\f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(host="localhost", user="root")

In [4]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001BDEC29B7B8>

### Create DB

In [5]:
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE samc")

In [6]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('samc',)
('test',)

In [7]:
mydb = mysql.connector.connect( host="localhost", user="root", database="samc")

### Create Table

In [8]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE classnew (id int, name char(20),mob int)")

In [9]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('classnew',)

### Insert

In [10]:
mycursor.execute("insert into classnew(id,name) values('101','abc')")

### Select

In [11]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
a=[]
for i in rows:
    a.append(i)
    print(i)

(101, 'abc', None)

### Create DataFrame

### Method 1

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(a)
df

     0    1     2
0  101  abc  None

### Method 2

In [14]:
import pandas as pd

In [15]:
query="select * from classnew"
df1 = pd.read_sql(query, mydb)
df1

    id name   mob
0  101  abc  None

### Update

In [16]:
mycursor.execute("update classnew set id=55 where name='abc'")

In [17]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

(55, 'abc', None)

### Delete

In [18]:
mycursor.execute("delete from classnew where id=55")

In [19]:
mycursor.execute("select * from classnew")
rows=mycursor.fetchall()
for i in rows:
    print(i)

### Delete Table

In [20]:
mycursor.execute("drop table if exists classnew")

In [21]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

### Delete Database

In [27]:
mycursor.execute("DROP DATABASE samc")
for x in mycursor:
    print(x)

In [28]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)